.Headerrow {
  display: flex;
  flex-direction: row;
  justify-content: first baseline;
  gap: flex;
  padding: auto;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: flex;
  padding: auto;
}

.Header button {
  cursor: pointer;
  width: 80px;
  border: 3px;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
  padding: auto;
  margin: 10px;
}

.Header input {
  flex: 1;
  padding: 10px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Headerrow button {
  flex-direction: "row";
  justify-content: flex-end;
  cursor: pointer;
  width: 70px;
  height: 30px;
  border: 3px;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
  gap: 10px;
}
