.List {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Listrow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Listrow > input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.List > input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.List > input:focus {
  outline: none;
  border-bottom: 1px solid rgb(37, 147, 255);
}

.List .Project_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.List button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
  margin: 10px;
}

.Listrow button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
  margin: 10px;
}
