.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 350px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* '가입된정보가없습니다' 글씨빨간색으로 */
button {
  width: 100%;
  padding: 10px;
  background-color: rgb(37, 147, 255);
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:disabled {
  background-color: #e6e6e6;
  color: #a0a0a0;
  border: 2px solid gray;
}

.error-message {
  color: red;
  margin-top: 15px;
  font-size: 0.776rem;
  text-align: center;
}
