<!-- 임시로 작성된 html 입니다!!!!! -->
<!-- 추후에 따로 변경 필수 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>save</title>
</head>
<body>
<!-- action속성: form에 작성한 데이터를 어디로 보낼지(서버, db) 지정 -->
<form action="/member/save" method="post">
    <!--    //주소창에 내가 보내는 데이터가 보이면 안 되기 때문에 post사용-->
    <!-- name속성: 서버로 전송할 때 변수이름의 역할 -->
    <!-- input tag   -->
    이메일: <input type="text" name="memberEmail"> <br>
    비밀번호: <input type="password" name="memberPassword"><br>
    이름: <input type="text" name="memberName"><br>

    <input type="radio" name="memberAuthorization" value="Admin" checked> Admin <br>

    <input type="radio" name="memberAuthorization" value="PL"> PL <br>

    <input type="radio" name="memberAuthorization" value="Dev"> Dev <br>

    <input type="radio" name="memberAuthorization" value="User"> User <br>
    <!-- type:submit(속성)+ value-> 버튼처럼 보이게 함 위의 정보들을 가지고
       action의 주소로 method 방식(post)으로 전달-->
    <input type="submit" value="회원가입">
</form>
</body>
</html>