<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/member/update" method="post">
<!-- db에서 가져온 값을 사용해야 하기 때문에 th:value 문법 사용 ,type="hidden": 데이터를 가져오긴 하지만
  클라이언트에 값을 보여주지는 않는다.
  *주의 사항 name Attribute는 만드시 모델의 Attribute와 일치해야 한다.-->
    <input type="hidden" th:value="${updateMember.id}" name="id"><br>
    이메일: <input type="text" th:value="${updateMember.memberEmail}" name="memberEmail" readonly> <br>
    비밀번호: <input type="text" th:value="${updateMember.memberPassword}" name="memberPassword"> <br>
    이름: <input type="text" th:value="${updateMember.memberName}" name="memberName"> <br>
    <input type="submit" value="정보수정">
</form>
</body>
</html>