<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/issue/write" method="post" enctype="multipart/form-data">
    제목: <input type="text" name="issueTitle"><br>
    작성자: <input type="text" name="issueWriter"><br>
    비밀번호: <input type="text" name="issuePass"><br>
    내용: <textarea name="issueDescription" cols="30" rows="10"></textarea>
    파일: <input type="file" name="issueFile" multiple><br>
    <input type="submit" value="작성">
</form>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>save</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; front 부분은 되도록이면 복사 붙여넣기 해주세요 &ndash;&gt;-->
<!--&lt;!&ndash; action속성: 목적지(서버주소), method속성: http request method(get, post) &ndash;&gt;-->
<!--<form action="/board/save" method="post" enctype="multipart/form-data">-->
<!--    writer: <input type="text" name="boardWriter"> <br>-->
<!--    pass: <input type="text" name="boardPass"> <br>-->
<!--    title: <input type="text" name="boardTitle"> <br>-->
<!--    contents: <textarea name="boardContents" cols="30" rows="10"></textarea> <br>-->
<!--    file: <input type="file" name="boardFile"> <br>-->
<!--    <input type="submit" value="글작성">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->